 @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
 /* whole page styling */
*{ 
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    text-decoration: none;
    /* border: solid 2px red;   */
}
/* NavBar styling */

.navbar{
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    border: dotted 2px red ;
    padding: 25px;
}

.navbar .max-width{
    display: flex;
    align-items: center; 
    /* display: flex-wrap; */
    justify-content: space-between;  
    /* border: solid 2px black ; */
};


/*  Cant align el in an unordered list (ul) in different position  */

.navbar .menu li a{
    list-style: none;
    display: inline-block;
    border: solid 2px orange;
    
    
}

 .navbar .menu li{
    /* list-style: none; */
     display: inline-block; 
    /* border: solid 1px orange; */
    /* border: solid 2px orange; */
    padding: 20px;

 }