 @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
 /* whole page styling */
*{ 
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    text-decoration: none;
    /* border: solid 2px red;   */
}
/* NavBar styling */

.navbar{
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    /* border: dotted 2px black ; */
    /* padding: 0px 5px 10px 0px; */
    margin-top: 0px ;
    
    
}

.navbar .max-width{
    display: flex;
    align-items: center; 
    /* display: flex-wrap; */
    justify-content: space-between;  
     /* border: solid 2px black ;  */
     margin-top: 0px;
     padding-top: 0px;
    
};


/*  Cant align el in an unordered list (ul) in different position  */

.navbar .menu li a{
    
    list-style: none;
    display: inline-block;
    /* border: solid 2px orange; */
    color: red;
    text-decoration: none;
    font-size: 25px;
    
}

 .navbar .menu li{
    /* list-style: none; */
     display: inline-block; 
    /* border: solid 1px orange; */
    /* border: solid 2px orange; */
    font-size: 25px;
    padding: 20px;
    
    

 }
 .navbar .menu li:hover{
    color: green;
    cursor:  pointer;

 }

.navbar .menu li a:hover{
    color: green;
    cursor:  pointer;
}

/* home styling */
.homeS{
    display: flex;
    font-family: "PT Sans",700;
    background: url("./images/mBanner.jpg");
    background-size: cover;
    width: 100%;
    /* border: solid 2px rgb(26, 36, 7); */
    height: 1000px;
    
}
 
.homeS .max-width{
    margin-top: auto 0 auto 40px;
    /* border: solid 2px red; */
    
    
};
/* COME BACK HERE LATER */

.homeS .welcomeT .para{
        display: flex;
        width: 100%;
        font-size: larger;
        font-weight: 700;
        justify-content: center;
        margin: 250px;
        color: aqua; 
        background-color: brown;
}

.button{
    border-radius: 50%;
    margin: 80% 50% 30% 20%;
    height: 320px;
    width: 300px;
    cursor: pointer;
    background-color: beige;
     border: solid 2px green; 
    font-size: 25px;
}

.button:hover{
    background-color: rgb(86, 113, 45);
    color: white;
    border: solid 2px green;
}

/* .button-box{ 
background-color: beige;
border: solid 2px green;
border-radius: 50%;
height: 320px;
width: 300px;
margin: 50% 50% 30% 10%;
/* background: url("./images/mBanner.jpg") */
/* background-color: rgb(86, 113, 45)} */

.plants-box .max-width{
    display: flex;
    font-family: "PT Sans",700;
    background-size: cover;
    width: 100%;
    /* border: solid 2px rgb(26, 36, 7); */
    height: 1000px;

}